.table {
  margin: 0 auto;
  margin-top: 32px;
  background-color: #000000;
  width: 768px;
  font-size: 20px;
}
.tableHead {
  color: #f5f5f5;
}
.tableItem {
  border: 2px solid black;
  text-transform: capitalize;
}
.tableItem:nth-child(even) {
  background-color: rgb(184, 183, 183);
}
.tableItem:nth-child(odd) {
  background-color: #f5f5f5;
}
